:root {
	--header-height   : 48px;	
	--orange          : #f59b00; /* rgb(245,155,0)   */
	--black           : #000000; /* rgb(0,0,0)       */
	--white           : #f9f9f9; /* rgb(249,249,249) */
	--whitesmoke      : #edf2f7; /* rgb(237,242,247) */
	--darkgray        : #36363f; /* rgb(54,54,63)    */
	--gray            : #85888c; /* rgb(133,136,140) */
	--text-color      : var(--black);
	--doc-bgrnd       : var(--whitesmoke);
	--btn-color       : var(--orange);
	--btn-color-hover : var(--darkgray);
	--btn-bgrnd       : var(--darkgray);
	--btn-bgrnd-hover : var(--orange);
	--btn-outline     : var(--darkgray);
	--color-akcent    : var(--orange);
	--card-bgrnd      : var(--white);
	--card-ntd-color  : var(--gray);
	--card-answ-color : var(--black);
}
@font-face {
	font-family: 'RobotoSlab';
	src: url(../font/RobotoSlab.ttf);
}
*,*::before,*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,ol,li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,body {
	font-family:RobotoSlab;
	background:var(--doc-bgrnd);
	font-size:18px;
	line-height:1;
	width:100%;
	height:100%;
}
body[dark="1"] {
	--text-color      : var(--white);
	--doc-bgrnd       : var(--black);
	--btn-color       : var(--orange);
	--btn-color-hover : var(--darkgray);
	--btn-bgrnd       : var(--darkgray);
	--btn-bgrnd-hover : var(--orange);
	--btn-outline     : var(--orange);
	--color-akcent    : var(--darkgray);
	--card-bgrnd      : var(--darkgray);
	--card-ntd-color  : var(--white);
	--card-answ-color : var(--btn-outline);
}
.old-browser,
.old-browser p,
.old-browser td {
	text-align: center;
	padding: 10px;
	color: black;
}
.old-browser h2 {
	margin: 20px;
}
.old-browser table {
	padding-top: 1.5em;
	margin: 0 auto;
}
.old-browser img {
	width: 64px;
	height: 64px;
}
.wrapper{
	background: var(--doc-bgrnd);
	padding-top: 32px;
	display: flex;
	flex-direction: column;
	height: 100%;
}
.header,.footer {
	color: var(--text-color);
	background: var(--color-akcent);
	box-shadow: inset 0 0 2px rgba(0,0,0,0.3), inset 0 0 2px rgba(0,0,0,0.3);
}
.ri-icn-card {
	width: 72px;
	height: 72px;
	padding-top: 12px;
	padding-left: 12px;
	outline: 2px solid var(--btn-color);
	box-shadow: 0 10px 15px -5px rgba(0,0,0,0.1), 0 10px 10px -5px rgba(0,0,0,0.04);
	border-radius: 8px;
	margin-bottom: 10px;
	fill: var(--btn-color);
}
.ri-icn-card:hover {
	fill: var(--card-bgrnd);
	background: var(--btn-color);
}
/**************************************************
 *   1. Header
 **************************************************/
.header{
	height: var(--header-height);
	display: flex;
	flex-direction: row;
	padding: 7px 20px 0 20px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}
.switch {
	outline: 2px solid var(--btn-outline);
	background: var(--btn-bgrnd);
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	position: relative;
	height: 32px;
	width: 32px;
	padding: 0;
	margin: 0 5px 0 5px;
	float: right;
	border-radius : 16px;
	display: inline-block;
}
.switch:hover {
	background: var(--btn-bgrnd-hover);
	background-repeat: no-repeat;
	background-position: center;
}
.slider {
	opacity: 0;
	width: 0;
	height: 0;
}
.empty-space {
	align-content: center;
	text-align: center;
	flex: 2;
}
.ri-icn {
	padding-top: 5px;
	padding-left: 5px;
	height: 32px;
	width: 32px;
	fill: var(--btn-color);
}
.ri-icn:hover {
	fill: var(--btn-color-hover);
}
/**************************************************
 *   2. Content
 **************************************************/
.content {
	color: var(--text-color);
	flex: 1 1 auto;
	margin: 0 auto;
	padding: 30px 10px 30px 10px;
	width: 100%;
	hyphens: auto;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
}
/**************************************************
 *   3. Footer
 **************************************************/
.footer {
	font-size: 12px;
	padding: 15px 0 15px 0;
	text-align: center;
}
/**************************************************
 *   4. Index page style
 **************************************************/
.tbl-title {
	font-size: 1.3rem;
	color: var(--gray);
	text-align: center;
	margin-bottom: 5px;
}
.center {
	text-align: center;
}
.tbl {
	display: inline-block;
	margin: 0 auto;
}
.no-index {
	display: none;
}
.row {
	display: inline-block;
}
.col {
	display: block;
	vertical-align: top;
	padding: 5px 5px -5px 5px;
}
.elem {
	text-align: center;
	padding: 20px 10px 10px 10px;
	margin: 10px 5px 10px 5px;
	display: block;
	background: var(--card-bgrnd);
	box-shadow: 0 10px 15px -5px rgba(0,0,0,0.1), 0 10px 10px -5px rgba(0,0,0,0.04);
	border-radius: 8px;
	overflow: hidden;
	min-height: 220px;
	min-width: 280px;
}
.elem h2 {
	color: var(--text-color);
	margin-top: 10px;
	text-align: center;
	margin-bottom: 10px;
	user-select: none;
}
.elem p {
	color: var(--gray);
	margin-top: 2px;
	margin-bottom: 5px;
	height: 40px;
	user-select: none;
}
/**************************************************
 *   5. Content Page Style
 **************************************************/
.card-hdr {
	display: inline-block;
	color: var(--gray);
	width: 100%;
	margin: 0 0 10px 0;
}
.card-hdr #title {
	padding-left: 5px;
	float: left;
}
.card-hdr #card {
	padding-right: 5px;
	float: right;
}
.ntd {
	color: var(--gray);
	font-style: italic;
	font-size: 10pt;
}
.answer {
	color: var(--card-answ-color);
	font-size: 0.9rem;
	line-height: 1.5em;
	margin-top: 10px;
}
.answer p {
	text-indent: 20px;
}
details {
	display: block;
	background: var(--card-bgrnd);
	width: 100%;
	box-shadow: 0 10px 15px -5px rgba(0,0,0,0.1), 0 10px 10px -5px rgba(0,0,0,0.04);
	border-radius: 8px;
	overflow: hidden;
	margin-bottom: 0.5rem;
}
summary::-webkit-details-marker {
	display: none;
}
summary::-moz-list-bullet {
	list-style-type: none;
}
summary::marker {
	display: none;
} 
summary {
	display: block;
	padding:.3em .3em .7em 1.4em;
	font-size: 14pt;
	line-height: 1;
	cursor: pointer;
	position: relative;
	border-bottom: 1px solid #636363;
	margin: 5px 5px -1px 5px;
	z-index: 0;
}
summary:before {
	top:.4em;
	left: .3em;
	background: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjM0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC41OSAxNi4zNGw0LjU4LTQuNTktNC41OC00LjU5TDEwIDUuNzVsNiA2LTYgNnoiLz48L3N2Zz4=") no-repeat 50% 50% / 1em 1em;
	width: 1em;
	height: 1em;
	content:"";
	position: absolute;
	transition: transform .5s;
}
details[open] > summary:before {
	transform: rotateZ(90deg);
}
summary ~ * {
	padding: 0 1em 10px 1em;
}
details[open] summary ~ * {
	animation: sweep .5s ease-in-out;
}
@keyframes sweep {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
summary:focus {
	outline: 0;
	box-shadow: inset 0 0 1px rgba(0,0,0,0.3), inset 0 0 2px rgba(0,0,0,0.3);
}
/**************************************************
 *   6. Adaptive UI
 **************************************************/
@media(min-width: 800px) {
	.content{
		width: 85%;
	}
	.row {
		display:table-row;
	}
	.col {
		display:table-cell;
		width:33.33%;
	}
}